.naav {
  background-color: #ec4c8a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-around;
  z-index: 60;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #e8e2e2;
  cursor: pointer;
}

.navbar-toggler {
  border: none;
}

#basic-navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  font-size: 1.2rem;
  color: #f9eff3;
  cursor: pointer;
  padding: 0 1rem;
  text-decoration: none;
}

.nav-link:hover {
  color: #007bff;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.settings {
  transition: transform 0.5s;
}

.settings:hover {
  animation: rotate 1s infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
